{
  "module_name": "dice_2_1_router",
  "ports": ["N", "E", "S", "W", "L"],
  "num_ports": [2, 2, 2, 2, [1, 3]],
  "track_widths": 1,
  "topologies": [
    {
      "name": "customized",
      "outputs_allowed_inputs": {
        "N[0]": ["ALL"],
        "N[1]": ["ALL"],
        "E[0]": ["ALL"],
        "E[1]": ["ALL"],
        "S[0]": ["ALL"],
        "S[1]": ["ALL"],
        "W[0]": ["ALL"],
        "W[1]": ["ALL"],
        "L[0]": ["ALL"],
        "L[1]": ["ALL"],
        "L[2]": ["ALL"]
      }
    }
  ],
  "expose_config_if": true,
  "include_reset": true,
  "add_clock": true,
  "registered_default": 0
}
